* {
    all: unset;
    margin: 0;
    font-family: 'CaskaydiaCove Nerd Font';
}

window#waybar {
    background-color: #11111b;
    color: #11111b;
}

#workspaces button,
#window,
#clock,
#network,
#pulseaudio {
    border-radius: 6px;
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#window {
    background-color: #E5C890;
    margin-left: 0;
    margin-left: 4px;
}

#waybar.empty #window {
    background: none;
}

#workspaces button label {
    font-size: 18px;
}

#workspaces button {
    background-color: #A6E3A1;
}

#workspaces button.focused {
    background-color: #87B0F9;
}

#workspaces button.urgent {
    background-color: #ED8796;
}

#clock {
    background-color: #414559;
    color: #D9E0EE;
    font-size: 16px;
}

#network {
    background-color: #94E2D5;
}

#network.disconnected {
    background-color: #343434;
    color: #F2D5CF;
}

#pulseaudio {
    background-color: #CA9EE6;
}

#pulseaudio.muted {
    background-color: #CA9EE6;
}
