* {
    all: unset;
    margin: 0;
    font-family: 'CaskaydiaMono Nerd Font';
}

window#waybar {
    background-color: #011418;
    color: #011418;
}

#workspaces button,
#window,
#clock,
#network,
#pulseaudio {
    border-radius: 6px;
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#window {
    background-color: #859900;
    margin-left: 0;
    margin-left: 4px;
}

#waybar.empty #window {
    background: none;
}

#workspaces button label {
    font-size: 18px;
}

#workspaces button.active {
    background-color: #268bd2;
    color: #011418;
}

#workspaces button {
    background-color: #073642;
    color: #4c4c4c;
}

#workspaces button.urgent {
    background-color: #dc322f;
    color: #011418;
}

#clock {
    background-color: #839496;
    font-size: 16px;
}

#network {
    background-color: #2aa198;
}

#network.disconnected {
    background-color: #93a1a1;
    color: #F2D5CF;
}

#pulseaudio {
    background-color: #6c71c4;
}

#pulseaudio.muted {
    background-color: #4c4c4c;
}
