* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 14px;
  border-radius: 0.75em;
}

#window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid #A6E3A1;
  background-color: #11111b;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #11111b;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #11111b;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: #11111b;
}

#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  color: #cdd6f4;
  background-color: #11111b;
}

#input image {
    border: none;
    color: #A6E3A1;
}

#input * {
  outline: 4px solid #A6E3A1;
}

#text {
  margin: 5px;
  border: none;
  color: #cdd6f4;
}

#entry {
  background-color: #11111b;
}

#entry arrow {
  border: none;
  color: #87b0f9;
}

#entry:selected {
  border: 0.11em solid #87b0f9;
}

#entry:selected #text {
  color: #94e2d5;
}

#entry:drop(active) {
  background-color: #87b0f9;
}
