* {
  font-family: 'CaskaydiaMono Nerd Font', monospace;
  font-size: 14px;
  border-radius: 0.75em;
  background-color: #000000;
}

#window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid #ffffff;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
}

#input {
  margin: 5px 16px;
  padding: 8px;
  border: 2px solid #0000ff;
  color: #ffffff;
}

#input:focus {
  box-shadow: none;
}

#input image {
    border: none;
    color: #ffffff;
}

#text {
  margin: 5px;
  border: none;
  color: #ffffff;
}

#entry arrow {
  border: none;
  color: #0000ff;
}

#entry:selected {
  border: 0.11em solid #00ff00;
}

#entry:selected #text {
  color: #ffffff;
}

#entry:drop(active) {
  background-color: #ffffff;
}
